
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
}

body{
    max-width: 1600px;
    margin: 0 auto;
}

.hamburger-icon{
    width: 24px;
    height: 24px;
    color: #ffffff;
    display: none;
}
.btn{
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(15deg,#F7E93F 20%,#FB09B4 55%,#9100F8 84%);
}

/* Header Section Start */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}
header  .logo{
    color: white;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
header .logo span{
    background: linear-gradient(35deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
}
header .nav-item  ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;

}
header .nav-item  ul li{
    list-style: none;
}
header .nav-item ul li a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

/* Header Ends */







