
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
}
html, body {
  overflow-x: hidden;
  width: 100%;
}
body{
    max-width: 100%;
    margin: 0 auto;
}

.hamburger-icon{
    width: 24px;
    height: 24px;
    color: #ffffff;
    display: none;
}
.btn{
    position: relative;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(15deg,#F7E93F 20%,#FB09B4 55%,#9100F8 84%);
    animation: breathe 4s ease-in-out infinite;
    overflow: hidden;
    will-change: transform;
}
/* Animation */
.btn::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: linear-gradient(90deg,
        rgba(194, 180, 27, 0.65),
        rgba(247, 233, 63, 0.55),
        rgba(253, 12, 181, 0.932),
        rgba(145, 0, 248, 0.40),
        rgba(247, 233, 63, 0.65)
    );
    background-size: 240% 100%;
    animation: softFlow 7s ease-in-out infinite;
    filter: blur(0.8px);
    z-index: -1;
}
@keyframes breathe {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.04); }
}

@keyframes softFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hero-normal-btn{
    font-size: 16px;
    font-size: 600;
    padding: 12px 20px;
    color: #00FF88;
    border: 1px solid #00FF88;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.hero-normal-btn:hover{
    box-shadow: 0 0 10px #00FF88, 0 0 10px #00FF88, 0 0 10px #00FF88;
    transform: scale(1.05);
}



/* Header Section Start */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}
header  .logo{
    color: white;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
header .logo span{
    background: linear-gradient(35deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
}
header .nav-item  ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;

}
header .nav-item  ul li{
    list-style: none;
}
header .nav-item ul li a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

/* Header Ends */

/* Hero Section Start */
.hero-container{
    min-height: 760px;
    height: auto;
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.hero-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-group{
    margin-top: 100px;
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
}
.main-img{
    width: 100%;
    height: 100%;
}
.center-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.badge{
    position: absolute;
    top: 12px;
    right: 25px;
    padding: 8px 16px;
    background-color: #00FF88;
    color: black;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid black;
    box-shadow: 0 0 20px rgba(0,255,136, 0.6);
}

.hero-box h2{
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-bottom: 8px;
}
.hero-box p{
    font-size: 16px;
    opacity: 80%;
    color: #ffffff;
    margin-bottom: 24px;
}

.hero-box .hero-btn{
    display: flex;
    gap: 20px;
}

.btn-herosec{
    display: inline-flex;
    align-items: center;     
    justify-content: center; 
    gap: 5px;
}

.hero-icon-btn{
    width: 20px;
    height: auto;
    display: block;
}


/* Hero Section end */

/* About Section Start */
.about-section{
    min-height: 650px;
    height: auto;
    background-color: #1A0B2E;
    
}
.about-section .about-area{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section .about-area .about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-text{
    margin-bottom: 80px;
}

.about-text h3{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 50px;
    color: white;
}
.about-text p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 40px;
    opacity: 70%;
}
.about-area hr{
    color: white;
    opacity: 20%;
    width: 100%;
    margin-bottom: 80px;
}
.about-card{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-bottom: 120px;
}
.about-card .cards{
    display: grid;
    place-items: center;
}
.about-card .cards h4{
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 16px;
}
.about-card .cards p{
    font-size: 16px;
    opacity: 70%;
    color: white;
}

/* About section End */
/* Why Choose Section Start */
.choose-section{
  padding-top: 120px;
  min-height: 1125px;
  height: auto;
  background-color: #230E3D;
}
.choose-section .choose-container{
    max-width: 1200px;
    margin: auto;
}
.choose-container h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}

.choose-container .choose-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 30px;
    grid-template-areas: 
    "premium mobile mobile"
    "premium global global"
    "exclusive exclusive rich";
}
.card-premium{
    grid-area: premium;
}
.card-mobile{
    grid-area: mobile;
}
.card-global{
    grid-area: global;
}
.card-exclusive{
    grid-area: exclusive;
}
.card-rich{
    grid-area: rich;
}
.card{
    background: rgba(53, 17, 101, 0.4);
    /* background: linear-gradient(135deg, #F7E93F,#FB09B4,#9100F8); */
    border-radius: 20px;
    padding: 40px;
    min-height: 160px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card img{
    width: 60px;
    height: auto;
    margin-bottom: 16px;
}
.card h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #ffffff;
}
.card p{
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    color: #ffffff;
}

/* Card section end  */

/*Featured Section Start */
.featured-section{
    padding-top: 120px;
    min-height: 1280px;
    height: auto;
    background-color: #1A0B2E;
}
.featured-section h3{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}
.featured-section .featured-container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 120px;
}
.featured-container .featured-card{
    width: 380px;
    height: 440px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: rgba(53, 17, 101, 0.4);
    
}

.featured-card h4{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin: 24px 24px 12px 24px;
}
.featured-card p{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    opacity: 60%;
    margin: 0 24px 12px 24px;
}
.featured-card .video-time{
    display: flex;
    gap: 6px;
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 24px;
}
.video-time img{
    width: 20px;
    height: 20px;
}
.video-time p{
    margin: 0;
}

/* Features Section End */
/* Host section Start */
.host-section{
    padding-bottom: 40px;
}
.host-section h3{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.host-container{
    margin: auto;
    max-width: 1200px;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    height: auto;
    padding: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    overflow: visible;
}

.host-container .host-img{
    width: 200px;
    height: 200px;
}

.host-container .host-details h4{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #ffffff;
}
.host-container .host-details p{
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    color: #ffffff;
    margin-bottom: 16px;
}

.host-container .host-media{
    display: flex;
    gap: 10px;
}
.host-media .img-wrapper{
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;      
    justify-content: center;
}
.host-container .host-media .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

/* Host Section End */

/* Footer Section Start */

footer{
    min-height: 412px;
    height: auto;
    background: url(./assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.footer-container{
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container h2{
    font-size: 80px;
    color: white;
}
.footer-container span{
    background: linear-gradient(35deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
}
.footer-container .reserve{
    padding-top: 32px;
    padding-bottom: 120px;
    font-size: 16px;
    opacity: 60%;
    line-height: 24px;
    color: #ffffff;
}
.footer-container .footer-icon{
    padding-top: 25px;
    /* margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;

}
.footer-container .footer-icon .footer-icon-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 6px;
    /* padding-bottom: 32px; */
} 
.footer-container .footer-icon .footer-icon-item img{
    width: 24px;
    height: 24px;
}
.footer-container .footer-icon .footer-icon-item p{
    color: white;
    font-size: 16px;
    opacity: 60%;
    font-weight: 500;
}

/* Footer Section End */

/* Responsive for Mobile Devices */
@media screen and (max-width: 576px) {
    .header{
        display: flex;
        justify-content: space-around;
    }
    .logo{
        width: 100%;
        margin-left: 20px;
    }
    .nav-item{
        display: none;
    }
    .header-button{
        display: none;
    }
    .hamburger-icon{
        display: block;
        margin-right: 20px;
        cursor: pointer;
    }
    .hero-container{
        min-height: 466px;
        height: auto;
        width: 100%;
        padding-bottom: 40px;
        overflow: hidden;
    }
    .img-group{
        width: 250px;
        height: 250px;
        margin-top: 40px;
        margin-bottom: 24px;
    }
    .main-img{
        width: 100%;
        height: 100%;
    }
    .center-img{
        width: 60px;
        height: auto;
    }
    .badge{
        top: 7px;
        right: 1px;
        padding: 8px 16px;
        color: black;
        border-radius: 20px;
        font-size: 18px;
        border: none;
    }
    .hero-box h2{
        font-size: 40px;
    }
    .hero-box p{
        max-width: 400px;
        text-align: center;
    }
    .btn{
        padding: 12px 20px;
    }
    .about-text{
        margin: 0px 20px 20px 20px;
    }
    .about-text h3{
        font-size: 32px;
    }
    .about-text br{
        display: none;
    }
    .about-text p{
        margin-bottom: 20px;
        line-height: 25px;
        text-align: justify;
    }
    .about-area hr{
        margin-bottom: 40px;
    }
    .about-card{
        padding: 0;
        max-width: 400px;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 40px;
    }
    .about-card .cards h4{
        font-size: 46px;
    }
    .choose-section{
        padding-top: 40px;
    }
    .choose-container h2{
        font-size: 32px;
    }
    .choose-container .choose-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 16px; 
        padding-bottom: 40px;
        grid-template-areas: 
        "premium" 
        "mobile"
        "global"
        "exclusive" 
        "rich";
    }
    .card{
        margin: 16px 20px 16px 20px;
    }
    .card h3{
        font-size: 22px;
    }
    .featured-section{
        padding-top: 40px;
    }
    .featured-section h3{
        font-size: 32px;
    }
    .featured-section .featured-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding-bottom: 60px;
        margin-bottom: 0px;
    }
    .featured-container .featured-card{
        width: 400px;
        height: 460px;
        margin: 24px 20px 0px 20px;
    }
    .featured-container .featured-card iframe{
        width: 400px;
        height: 250px;
    }
    .featured-card h4{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .featured-card p{
        margin-bottom: 20px;
        text-align: left;
    }
    .featured-container .featured-card .video-time{
        margin-top: auto;
        margin-bottom: 5px;
    }
    .host-section{
         padding-bottom: 40px;
    }
    .host-section h3{
        font-size: 32px;
        
    }
    .host-container{
        max-width: 400px;
        flex-direction: column;
    }
    .host-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .host-details p{
        text-align: center;
    }
    footer{
        width: 100%;
        min-height: 248px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-container{
        margin-top: 120px;
        max-width: 500px;
        max-height: 180px;
        padding: 40px 20px;
    }
    .footer-container h2{
    font-size: 40px;
    }
    
    .footer-icon{
        max-width: 300px;
        gap: 16px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 992px) and (max-width: 1250px){
    .choose-container .choose-grid{
        padding: 40px;
    }
    .featured-section .featured-container{
        max-width: 990px;
        gap: 30px;
    }
    .featured-container .featured-card{
        width: 300px;
        height: 520px;
    }
    .featured-container .featured-card iframe{
        width: 300px;
        height: 250px;
    }
    .host-section{
        padding-bottom: 40px;
    }
    .host-container{
        max-width: 990px;
    }
    
}