
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
}

body{
    max-width: 1600px;
    margin: 0 auto;
}

.hamburger-icon{
    width: 24px;
    height: 24px;
    color: #ffffff;
    display: none;
}
.btn{
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(15deg,#F7E93F 20%,#FB09B4 55%,#9100F8 84%);
}

.hero-normal-btn{
    font-size: 16px;
    font-size: 600;
    padding: 12px 20px;
    color: #00FF88;
    border: 1px solid #00FF88;
    background: transparent;
    border-radius: 50px;
}

/* Header Section Start */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}
header  .logo{
    color: white;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
header .logo span{
    background: linear-gradient(35deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
}
header .nav-item  ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;

}
header .nav-item  ul li{
    list-style: none;
}
header .nav-item ul li a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

/* Header Ends */

/* Hero Section Start */
.hero-container{
    min-height: 760px;
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.hero-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-group{
    margin-top: 100px;
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
}
.main-img{
    width: 100%;
    height: 100%;
}
.center-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.badge{
    position: absolute;
    top: 12px;
    right: 25px;
    padding: 8px 16px;
    background-color: #00FF88;
    color: black;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    box-shadow: 0 0 20px rgba(0,255,136, 0.6);
}

.hero-box h2{
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-bottom: 8px;
}
.hero-box p{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 24px;
    opacity: 70%;
}

.hero-box .hero-btn{
    display: flex;
    gap: 8px;
}

.btn-herosec{
    display: inline-flex;
    align-items: center;     
    justify-content: center; 
    gap: 5px;
}

.hero-icon-btn{
    width: 20px;
    height: auto;
    display: block;
}


/* Hero Section end */

/* About Section Start */
.about-section{
    min-height: 650px;
    background-color: #1A0B2E;
}
.about-section .about-area{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section .about-area .about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-text{
    margin-bottom: 80px;
}

.about-text h3{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 50px;
    color: white;
}
.about-text p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 20px;
    opacity: 70%;
}
.about-area hr{
    color: white;
    opacity: 20%;
    width: 100%;
    margin-bottom: 80px;
}
.about-card{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-bottom: 120px;
}
.about-card .cards{
    display: grid;
    place-items: center;
}
.about-card .cards h4{
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 16px;
}
.about-card .cards p{
    font-size: 16px;
    opacity: 70%;
    color: white;
}
